.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #503c4c;
    padding: 20px 0px;
}

.header > * {
    color: whitesmoke
}



/*    Logo     */

.header > :nth-child(1) :first-child {
    color:whitesmoke;
    text-decoration: none;
    font-size: x-large;
}



/*    Menu    */

.header > :nth-child(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
}



/*    Home menu item     */

.header > :nth-child(2) > :nth-child(1) {
    margin-right: 40px;
}

.header > :nth-child(2) > :nth-child(1) :first-child {
    color:whitesmoke;
    text-decoration: none;
    font-size: 15px;
}

.header > :nth-child(2) > :nth-child(1) :first-child:hover {
    color:#5ce9ff;
}



/*    Button menu item     */

.header > :nth-child(2) > :nth-child(2) :first-child {
    background-color:#13a8be;
    color: whitesmoke;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
}

.header > :nth-child(2) > :nth-child(2) :first-child:hover {
    background-color:#10bbd5;
    cursor: pointer;
}

/*    Active menu item     */
.active {
    color: #5ce9ff !important;
}