.popUpBackground {
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.popUpContent {
    position: fixed;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px 30px 20px;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height: 80%;
    width: 40%;
    overflow: auto;
    background-color: #f8f4fc;
}

.closePopUp {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: rgb(92, 92, 92);
    font-size: small;
    text-decoration: underline;
}

.closePopUp :first-child:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1200px){

    .popUpContent{

        width: 60%;
    }

}

@media only screen and (max-width: 800px){

    .popUpContent{

        width: 80%;
    }

}

.formTitle {
    color: rgb(50, 50, 50);
}

.label {
    font-size: 15px;
    color: rgb(100, 100, 100);
}

.input {
    margin-top: 5px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 5px;
    width: 95%;
}

.input:focus {
    background-color: rgb(250, 250, 250);
    outline: none;
}

.categoryInput {
    width: 40%;
}

.categoryInput0, .categoryInput2 {
    margin-right: 20px;
}

.binIcon {
    font-size: 20px;
    margin-left: 5px;
}

.binIcon:hover {
    color:#13a8be;
    cursor: pointer;
}

.addCategory {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.addCategory > * {
    cursor: pointer;
}

.addCategoryImg {
    padding-right: 5px;
}

.submitButton {
    background-color:#13a8be;
    color: whitesmoke;
    border: none;
    padding: 8px 16px;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.submitButton:hover {
    background-color:#10bbd5;
    cursor: pointer;
}

.hint {
    color: rgb(92, 92, 92);
    font-size: small;
}